h1 {
  font-family: sans-serif;
}

h2 {
  text-align: left;
  font-family: sans-serif;
}

h3 {
  color: rgba(0,0,139,0.8);
}

p {
  font-family: serif;
}

a {
  color: darkgreen;
}

del {
  color: grey;
}

mark {
  color: darkblue;
  background-color: pink;
}

pre {
  font-family: monospace;
  size: 100%;
}

.transparent-text {
  color: rgba(0,0,0,50%);
}