body {
  background-color: #DCF5F5;
  background-image: url(images/cross.png);
  background-repeat: repeat;
  font-family: 'Noto Serif', serif;
}

h1 {
  font-family: 'raleway', sans-serif;
}

h2 {
  text-align: left;
  font-family: 'raleway', sans-serif;
}

h3 {
  color: rgba(0,0,139,0.8);
}

p {
  font-family: 'Noto Serif', serif;
}

a {
  color: darkgreen;
}

del {
  color: grey;
}

mark {
  color: darkblue;
  background-color: pink;
}

pre {
  font-family: monospace;
  size: 100%;
}

.transparent-text {
  color: rgba(0,0,0,50%);
}

#content {
  background-color: white;
  border-style: solid;
  border: 1px;
  border-radius: 8px;
  border-color: darkgrey;
}

.blue {
  color: blue;
}

.fancy {
  font-family: cursive;
}

.red-border {
  border-style: solid;
  border-color: red;
}

.blue-border {
  border-style: solid;
  border-color: blue;
}

hr {
  border-color: #CFDFE4;
}

.red-outline {
  outline-color: red;
  outline-style: solid;
}

.red-border-top {
  border-style: solid;
  border-bottom: none;
  border-color: red;
  border-top-left-radius: 8px ;
  border-top-right-radius: 8px;
}

.blue-border-bottom {
  border-style: solid;
  border-color: blue;
  border-bottom-left-radius: 8px ;
  border-bottom-right-radius: 8px;
}

#top-outer-div {
  background-color: blue;
  border-style: solid;
  border-color: red;
}

#top-inner-div {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 12px;
  width: 700px;
  height: 200px;
  box-sizing: border-box;
  border-style: solid;
  border-color: red;
  background: yellow;
  text-align: right;
}

#bottom-outer-div {
  margin-top: 20px;
  background-color: blue;
  border-style: solid;
  border-color: red;
}

#bottom-inner-div {
  position: relative;
  left: 50%;
  right: 50%;
  text-align: right;
  padding: 12px;
  width: 400px;
  height: 400px;
  box-sizing: border-box;
  border-style: solid;
  border-color: red;
  background: yellow;
}

#a {
  font-family: 'Raleway';
  color: dimgrey;
  line-height: 1.5;
  word-spacing: 0.2em;
  text-align: justify;
}

h4 {
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  text-decoration: underline;
  font-weight: normal;
}

i {
  color: #BFCFD4;
}

li {
  display: inline;
}