body {
  background-color: #DCF5F5;
  background-image: url(images/cross.png);
  background-repeat: repeat;
  font-family: 'Noto Serif', serif;
}

h1 {
  font-family: 'raleway', sans-serif;
}

h2 {
  text-align: left;
  font-family: 'raleway', sans-serif;
}

h3 {
  color: rgba(0,0,139,0.8);
}

p {
  font-family: 'Noto Serif', serif;
}

a {
  color: darkgreen;
}

del {
  color: grey;
}

mark {
  color: darkblue;
  background-color: pink;
}

pre {
  font-family: monospace;
  size: 100%;
}

.transparent-text {
  color: rgba(0,0,0,50%);
}

#content {
  background-color: white;
  border-style: solid;
  border: 1px;
  border-radius: 8px;
  border-color: darkgrey;
}

.blue {
  color: blue;
}

.fancy {
  font-family: cursive;
}

.red-border {
  border-style: solid;
  border-color: red;
}

.blue-border {
  border-style: solid;
  border-color: blue;
}

hr {
  border-color: #CFDFE4;
}

.red-outline {
  outline-color: red;
  outline-style: solid;
}

.red-border-top {
  border-style: solid;
  border-bottom: none;
  border-color: red;
  border-top-left-radius: 8px ;
  border-top-right-radius: 8px;
}

.blue-border-bottom {
  border-style: solid;
  border-color: blue;
  border-bottom-left-radius: 8px ;
  border-bottom-right-radius: 8px;
}

#top-outer-div {
  background-color: blue;
  border-style: solid;
  border-color: red;
}

#top-inner-div {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 12px;
  width: 700px;
  height: 200px;
  box-sizing: border-box;
  border-style: solid;
  border-color: red;
  background: yellow;
  text-align: right;
}

#bottom-outer-div {
  margin-top: 20px;
  background-color: blue;
  border-style: solid;
  border-color: red;
}

#bottom-inner-div {
  position: relative;
  left: 50%;
  right: 50%;
  text-align: right;
  padding: 12px;
  width: 400px;
  height: 400px;
  box-sizing: border-box;
  border-style: solid;
  border-color: red;
  background: yellow;
}

#a {
  font-family: 'Raleway';
  color: dimgrey;
  line-height: 1.5;
  word-spacing: 0.2em;
  text-align: justify;
}

h4 {
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  text-decoration: underline;
  font-weight: normal;
}

i {
  color: #BFCFD4;
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: darkgrey;
}

ul.navbar li {
  float: left;
}

ul.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
ul.navbar li a:hover {
  background-color: white;
  color: darkgrey;
}

ol ul ol li {
  list-style-type: lower-roman;
}

ol ul li {
  list-style-type: square;
}

table {
  text-align: left;
}

table.fancy-table{
  width: 500px;
  border-collapse: collapse;
}

.fancy-table tr th {
  border-bottom: 1pt solid darkgrey;
  font-weight: normal;
}

.fancy-table tr.header {
  background-color: darkslategrey;
  border-bottom: darkgrey;

}

.fancy-table tr.header th{
  padding: 8px;
  color: white;
}

.fancy-table tr.odd-row {
  background-color: #F8F8F8;
  border-bottom: darkgrey;

}

.fancy-table tr.odd-row th{
  padding: 8px;
  color: black;
}

.fancy-table tr.even-row {
  background-color: white;
  border-bottom: darkgrey;

}

.fancy-table tr.even-row th{
  padding: 8px;
  color: black;
}

.complex-table {
  border-collapse: collapse;
  border: solid 1.5pt black;
  width: 500px;
}

.complex-table .complex-header {
  background-color: palegoldenrod;
  font-weight: bold;
  border: solid 1pt black;
}

.complex-table tr th {
  border: solid 1pt lightgrey;
  padding: 8px;
  font-weight: normal;
}

.container-11 {
  width: 600px;
  height: 100vh;
  margin: auto;
}

.bottom-container {
  display: flex;
}

.top-11 {
  width: 600px;
  background-color: white;
  border: solid lightgray;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.bottom {
  width: 600px;
}
.bottom-left {
  margin: 10px;
  margin-left: 0;
  margin-right: 0;
  padding: 10px;
  height: 400px;
  background-color: white;
  border: solid lightgray;
  border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  overflow: scroll;
}

.bottom-right {
  margin: 10px;
  margin-right: 0;
  height: 400px;
  padding: 10px;
  background-color: white;
  border: solid lightgray;
  border-radius: 10px;
  overflow: hidden;
}

.bottom-right-top-text {
  margin-bottom: 0;
}

.red-box {
  border: solid red 1pt;
  width: 1000px;
  height: 100px;
  margin-left: 100px;
  overflow: hidden;
}