body {
  background: papayawhip;
  background-image: url(images/dots.png);
  background-repeat: repeat;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Quicksand', serif;
}
.main {
  background-color: white;
  width: auto;
  height: 100vh;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 0;
}

.header {
  background-color: dimgray;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.header h1 {
  margin-top: 0;
  padding: 15px;
  font-family: 'Pacifico', sans-serif;
  color: darkorange;
  display: inline;
}

.header p {
  display: inline;
  text-decoration: underline;
  font-family: 'Quicksand', serif;
  font-style: italic;
  color: white;
  font-size: larger;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: dimgrey;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: larger;
}

/* Change the link color to #111 (black) on hover */
.navbar li a:hover {
  background-color: white;
  color: darkorange;
}
.vert-line {
  border-right: solid 1pt darkgrey;
}
.upper-body {
  display: flex;
}
.upper-body-left {
  padding: 30px;
  padding-top: 0;

  width: fit-content;
  display: inline-block;
}

.upper-body-left h1 {
  font-family: 'Quicksand', serif;
  font-weight: bolder;
}

.upper-body-left p {
  font-family: 'Quicksand', serif;
  font-size: larger;
  font-weight: 100pt;
}

.quote-person {
  font-style: italic;
}

#get-started-button {
  color: white;
  background-color: darkorange;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 15pt;
}

#register a {
  color: darkorange;
}

table {
  border-collapse: collapse;
  margin-right: 20px;
}
table tr th {
  text-align: left;
  font-weight: normal;
  border-bottom: solid 1pt darkgray;
  padding: 10px;
  width: 300px;
}

.table-header th {
  background-color: dimgray;
  color: white;
}

.table-inner-odd th {
  background-color: #F8F8F8;
}

.lower-body {
  display: flex;
  padding: 20px;
  padding-left: 0;
}

.lower-body-left {
  padding: 10px;
}

h2 {
  color: darkorange;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: dimgray;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  vertical-align:middle;
}

.footer h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Pacifico', sans-serif;
  color: lightgrey;
  display: inline;
}

.footer p {
  display: inline;
  text-decoration: underline;
  font-family: 'Quicksand', serif;
  font-style: italic;
  color: white;
  font-size: larger;
}

.footer-middle {
  color: white;
  font-size: small;
}

.footer-right {
  color: white;
  font-size: larger;
}
